<fieldset>
  <legend>Please Log In</legend>
  <table id = "login_table">
  <%= form_tag do %>
    <tr>
      <td>
        <%= label_tag :user_name, 'Username' %>
      </td>
      <td>
        <%= text_field_tag :user_name, params[:user_name] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :password, 'Password' %>
      </td>
      <td>
        <%= password_field_tag :password, params[:password] %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td style ="float:left;">
        <%= button_tag 'Login', :class => "btn" %>
        <%= link_to 'forget password?',{} ,:remote => true, :onclick => "$('#forget_password_tr').css('display', 'block')"%>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      
    </td>
    <td></td>
  </tr>
  </table>
  <div id = "forget_password_tr" class = "span6">
    <%= render 'forget_password' %>
  </div>  
</fieldset>