<fieldset>
  <legend>Please Log In</legend>
  <table id = "login_table">
  <%= form_tag do %>
    <tr>
      <td>
        <%= label_tag :user_name, 'Username' %>
      </td>
      <td>
        <%= text_field_tag :user_name, params[:user_name] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :password, 'Password' %>
      </td>
      <td>
        <%= password_field_tag :password, params[:password] %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <%= button_tag 'Login'%>
      </td>
    </tr>
  <% end %>
  </table>
  <%= button_to 'Sign up', new_user_path, :method => :get %>
</fieldset>