
Dear <%= @order.full_name %>,

<p>
You have recieved a gift from <b><%= @order.user.name %></b>
</p>
<p>
Following items:
<table>
  <tr>
    <th colspan="2">Qty</th><th>Description</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
  <% p_and_s = line_item.p_and_s %>
  <tr>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= p_and_s.commodity.title.capitalize %>(
      <% if p_and_s.class.to_s == "Voucher" %>
        <%= p_and_s.title %>
      <% elsif p_and_s.class.to_s == "CommoditySku" %>
        <%= p_and_s.size %> <%= p_and_s.color %>
      <% end %>
    )</td>
  </tr>
  <% end %>
</table>
</p>