<h3>DealHound Order no. <%= @order.id %></h3>

Dear <%= @order.user.name %>,

<p>
We have recieved your order, with order number: <%= @order.id %>.
</p>
<p>
You ordered the following items:
<table>
  <tr>
    <th colspan="2">Qty</th><th>Description</th>
  </tr>
  <% @order.user.cart.line_items.each do |line_item| %>
  <% p_and_s = line_item.p_and_s %>
  <tr>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= p_and_s.commodity.title.capitalize %>(
      <% if p_and_s.class.to_s == "Voucher" %>
        <%= p_and_s.title %>
      <% elsif p_and_s.class.to_s == "CommoditySku" %>
        <%= p_and_s.size %> <%= p_and_s.color %>
      <% end %>
    )</td>
    <td><%= number_to_currency(line_item.total_price) %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total:</td>
    <td><%= number_to_currency(@order.user.cart.total_price) %></td>
  </tr>
</table>
</p>
Note: Email will be sent when your order will be delivered.