<fieldset id = "change_password">
  <legend>Change Password</legend>
  <table>
    <%= form_for @user, :url => save_password_user_path(@user) do |f| %>
      <tr>
        <td>
          Current Password 
        </td>
        <td>
          <%= password_field_tag :old_password %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :password, 'New Password' %>
        </td>
        <td>
          <%= f.password_field :password, :size => 40 %>
        </td>
        <td>
          <% if @user.errors.get(:password) %>
              <div class = "field_with_errors"><%= @user.errors.get(:password).first %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          Confirm Password
        </td>
        <td>
         <%= f.password_field :password_confirmation, :size => 40 %>
       </td>
     </tr>
     <tr>
      <td></td>
      <td>
        <%= f.submit %>
      </td>    
    <% end %>
  </table>
</fieldset>