<%= link_to '', "", :remote => true, :onclick => 'hide_cart()', :id => "close_cart" %>
<% @cart = User.find(session[:user_id]).cart %>
<h2>My Cart(<%= @cart.line_items.count %>)</h2>
<% if flash[:item_info] %>
<div id = "flash_message">
  <% if flash[:item_info].to_s.last === "1" %>
  <div class = "green_div">
  <% else %>
  <div class = "red_div">
  <% end %>
    <%= flash[:item_info].to_s.chop %>
  </div>
</div>
<% end %>
<% if @cart.line_items.any? %>
<div id = "scroll_cart">
  <table id = "cart_table">
    <tr>
      <td></td>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Sub Total</td>
      <td></td>
    </tr>
    <% @cart.line_items.each do |item| %>
      <tr>
        <% commodity = item.p_and_s.commodity %>
        <% p_and_s = item.p_and_s %>
        <td>
          <% if commodity.images[0] %>
            <%= image_tag commodity.images[0].photo.url(:very_small) %>
          <% end %>
        </td>
        <td>
          <%= commodity.title.capitalize %> (
          <% if p_and_s.class.to_s == "Voucher" %>
          <%= p_and_s.title %>
          <% elsif p_and_s.class.to_s == "CommoditySku" %>
          <%= p_and_s.size %> <%= p_and_s.color %>
          <% end %>
          )</td>
        <td><%= number_to_currency(item.price, :unit => '&#8377;') %></td>
        <td>
          <%= form_tag line_items_path(:p_and_s => { :id => p_and_s.id, :type => p_and_s.class.to_s}) do %>
            <%= select_tag :quantity, options_for_select((1..p_and_s.quantity).to_a, item.quantity), :onchange => 'quantity_changed(this)', :remote => true %>
            <%= submit_tag '', :class => "update_quantity_button" %>
          <% end %>
        </td>
        <td><%= number_to_currency(item.total_price, :unit => '&#8377; ') %></td>
        <td><%= link_to '', item, :method => :delete, :remote => true, :class => 'delete_item' %></td>
      </tr>
    <% end %>
    <tr>
  </table>
</div>
<div id = "cart_footer">
  <span id = "tot_price"> Total Price: <b><%= number_to_currency(@cart.total_price, :unit => '&#8377;') %></b></span><br><br>
  <%= link_to 'Proceed to Payment', new_order_url %>
  <%= link_to 'Add more item(s) to cart', "", :remote => true, :onclick => 'hide_cart()' %>
</div>
<% else %>
  <p id = "no_item_p"><br><%= image_tag '/assets/empty-cart.jpg' %><br>There is no item in Cart right now.<br><br></p>
  <%= link_to 'Proceed to shopping', "", :remote => true, :onclick => 'hide_cart()', :id => "pro_to_shop" %>
<% end %>
<% if flash[:cart_flash] %>
  <script type="text/javascript">show_cart_with_flash()</script>
<% end %>