<h1>My Cart(<%= @cart.line_items.count %>)</h1>
<table id = "cart_table">
  <tr>
    <td></td>
    <td>Item</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Sub Total</td>
    <td></td>
  </tr>
  <% @cart.line_items.each do |item| %>
    <tr>
      <% commodity = item.commodity_sku.commodity %>
      <% commodity_sku = item.commodity_sku %>
      <td>
        <%= image_tag item.commodity_sku.commodity.images[0].photo.url(:very_small) %>
      </td>
      <td><%= commodity.title.capitalize %> (<%= commodity_sku.size %> <%= commodity_sku.color %>)</td>
      <td><%= number_to_currency(commodity.selling_price, :unit => '&#8377;') %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.total_price, :unit => '&#8377; ') %></td>
      <td></td>
    </tr>
  <% end %>
</table>