<fieldset>
  <legend>Add A new commodity</legend><br>
  <legend>Add/select a new category</legend>
  <div id = "add">
    <%= render 'categories/form', :remote => true %>
  </div>
  <%= nested_form_for @commodity do |f| %>
    <div>
      <% if @commodity.errors.get(:category) %>
        <%= @commodity.errors.get(:category).join(', ') %>
      <% end %>
      <%= f.select :category, @categories, :selected => params[:selected_category] %>
      <span><img id = "add_cat" src = "/assets/plus.png"/> (add a new category)</span>
    </div>
    <br>
    <fieldset class = "sub_fieldset">
      <legend>Details:</legend>
      <table class = "commodity">
        <tr>
          <td>
            <%= f.label :title, 'Name' %>
          </td>
          <td>
            <%= f.text_field :title %>
            <% if @commodity.errors.get(:title) %>
              <div class = "field_with_errors"><%= @commodity.errors.get(:title).first %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :features, 'Features' %>
          </td>
          <td>
            <%= f.text_area :features %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :vendor, 'Vendor' %>
          </td>
          <td>
            <%= f.text_field :vendor %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :voucher, 'Type' %>
          </td>
          <td>
            <%= f.select :voucher, Commodity::TYPE %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :actual_price, 'Actual Price' %>
          </td>
          <td>
            <%= f.text_field :actual_price %>
            <% if @commodity.errors.get(:actual_price) %>
              <div class = "field_with_errors"><%= @commodity.errors.get(:actual_price).first %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :selling_price, 'Selling Price' %>
          </td>
          <td>
            <%= f.text_field :selling_price %>
            <% if @commodity.errors.get(:selling_price) %>
              <div class = "field_with_errors"><%= @commodity.errors.get(:selling_price).first %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :description, 'Description' %>
          </td>
          <td>
            <%= f.text_field :description %>
          </td>
        </tr>
      </table>
    </fieldset>
    <br>
    <fieldset class = "sub_fieldset">
      <legend>Image Files</legend>
        <% if @commodity.errors.messages[ :"images.photo_content_type"] %>
          <div class = "field_with_errors"><%= @commodity.errors.messages[ :"images.photo_content_type"].first %></div>
          <br><br>
        <% end %>
        <%= f.fields_for :images, :html => { :multipart => true } do |img_f| %>
          <% if img_f.object.new_record? %>
            <%= img_f.file_field :photo %>
            <%= img_f.link_to_remove "Remove this image" %>
          <% else %>
            <%= image_tag img_f.object.photo.url(:small) %>
            <%= link_to "Remove this image", delete_img_url( { :image_id => img_f.object.id } ) %>
          <% end %>
          <br>
        <% end %>
        <br>
        <%= f.link_to_add "Add a image", :images %>
    </fieldset><br>
    <fieldset class = "sub_fieldset">
      <% if @commodity.errors.messages[:"commodity_skus.quantity"] %>
        <div class = "field_with_errors"><%= @commodity.errors.messages[:"commodity_skus.quantity"].first%></div><br>
      <% end %>              
      <%= f.fields_for :commodity_skus do |sku_f| %>      
        <legend>Type</legend>
        <table>
          <tr>
            <td>
              <%= sku_f.label :size, 'Size' %>
            </td>
            <td>
              <%= sku_f.text_field :size %>
            </td>
          </tr>
          <tr>
            <td>
              <%= sku_f.label :color, 'Color' %>
            </td>
            <td>
              <%= sku_f.text_field :color %>
            </td>
          </tr>
          <tr>
            <td>
              <%= sku_f.label :quantity, 'Quantity' %>
            </td>
            <td>
              <%= sku_f.text_field :quantity %>
            </td>
          </tr>
          <tr><td></td><td><%= sku_f.link_to_remove "Remove this type" %>
        </table>
      <% end %>
    </fieldset>
    <br>
     <%= f.link_to_add "Add a type", :commodity_skus %>
    <%= f.submit 'Submit' %>
  <% end %>
</fieldset>