<%= link_to 'Home', commodities_url %>
<br>
<span><b>Categories:</b></span>
<ul id = "category">
  <% Category.all.each do |category| %>
  <li>
    <%= link_to category.name, category_commodities_url(category) %>
  </li>
  <% end %>
  <li>
    <%= link_to 'New Launches', commodities_url(new_launch: true) %>
  </li>
  <li>
    <%= form_tag deals_url do %>
    City: <%= select_tag :city, options_for_select(Deal.select('Distinct city').order('city').map { |d| d.city}, session[:city]) %>
    <%= submit_tag 'Deals'%>
    <% end %>
  </li>

</ul>