<% user = find_user %>
<div>
  <div id ="show_left">
    <table id = "show_commodity">
      <tr>
        <td>
          <h2><%= @commodity.title %></h2>
        </td>
      </tr>
      <tr>
        <td> (By <%= @commodity.vendor.capitalize %>)</td>
      </tr>
      <tr>
        <td>
          <table id = "buy_at_show">
            <tr>
              <th>Deals</th>
              <td colspan = 5><span class = "buy_details">*Select Quantity, and click Buy</span></td>
            </tr>
            <% @commodity.commodity_skus.each do |sku| %>
            <tr>
              <%= form_tag line_items_path( :p_and_s => { id: sku, type: "CommoditySku" }) do %>
                <td class = "deal_column">
                  <% deal = sku.deals.where('visible = ?', true).first %>
                  <% if deal %>  
                    Time left:
                      <% time = Time.at(deal.end_date.to_time - Time.now).gmtime%>
                      <span id = "timer_d"><%= time.strftime("%d") %></span>D
                      <span id = "timer_h"><%= time.strftime("%H") %></span>H
                      <span id = "timer_m"><%= time.strftime("%M") %></span>M
                      <span id = "timer_s"><%= time.strftime("%S") %></span>S<br>
                    Price: &#8377; <%= selling_price = sku.selling_price %><br>
                    <b>Discount: <%= deal.discount %>%<br>
                    New Price: &#8377; <%= (1-(deal.discount/100)) * selling_price %></b>
                  <% end %>
                </td>            
                <% if sku.quantity > 0 %>
                  <td>
                    <%= select_tag :quantity, options_for_select((1..sku.quantity).to_a) %>
                  </td>
                <% end %>            
                <% unless sku.size.empty? %>
                  <td>
                    <%= sku.size %>
                  </td>
                <% end %>
                <td>
                <% if sku.actual_price %>
                <span id = "actual_price">&#8377; <%= sku.actual_price %></span>
                <% end %>
                <% if sku.selling_price %><br>
                <span id = "selling_price">&#8377; <%= sku.selling_price %></span>
                <% end %>
                </td>
                <% unless sku.color.empty? %>
                  <td>
                    <%= sku.color %>
                  </td>
                <% end %>
                <% unless user && user.admin %>
                  <% if sku.selling_price && sku.quantity > 0 %>
                    <td>
                      <%= submit_tag 'BUY' %>
                    </td>
                  <% else %>
                    <td>
                      Sold Out
                    </td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
            <% end %>
            <% @commodity.vouchers.each do |voucher| %>
            <tr>
              <%= form_tag line_items_path(:p_and_s => { id: voucher, type: "Voucher" }) do %>
                <td class = "deal_column">
                  <% deal = voucher.deals.where('visible = ?', true).first %>
                  <% if deal %>
                    Time left:
                      <% time = Time.at(deal.end_date.to_time - Time.now).gmtime%>
                      <span id = "timer_d"><%= time.strftime("%d") %></span>D
                      <span id = "timer_h"><%= time.strftime("%H") %></span>H
                      <span id = "timer_m"><%= time.strftime("%M") %></span>M
                      <span id = "timer_s"><%= time.strftime("%S") %></span>S<br>
                    Price: &#8377; <%= selling_price = voucher.selling_price %><br>
                    <b>Discount: <%= deal.discount %>%<br>
                    New Price: &#8377; <%= (1-(deal.discount/100)) * selling_price %></b>
                  <% end %>
                </td>
                <% if voucher.quantity > 0 %>
                  <td>
                    <%= select_tag :quantity, options_for_select((1..voucher.quantity).to_a) %>
                  </td>
                <% end %>
                <td>
                <% if voucher.selling_price && voucher.quantity > 0 %><br>
                <span id = "selling_price">&#8377; <%= voucher.selling_price %></span>
                <% end %>
                </td>
                <% unless user && user.admin %> 
                <% if voucher.selling_price %>
                    <td>
                      <%= submit_tag 'BUY' %>
                    </td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr>
        <td><br><b>Features:</b> </td>
      </tr>
      <tr>
        <td colspan = 2>
          <% @commodity.features.split("\n").each do |feature| %>
          <%= feature %><br><br>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>

        </td>              
      </tr>
    </table>
  </div>
  <div id = "side_show">
    <div id = "slideshow">
      <% @commodity.images.each do |img| %>
      <%= image_tag img.photo.url(:small) %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <% if user && user.admin %>
      <%= link_to 'Edit', edit_commodity_path(@commodity) %>
      <%= link_to 'Delete', @commodity, :method => :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
    <%= link_to 'Back', commodities_path %>
  </div>
</div>
<% unless @commodity.description.blank? %>
<div id = "commodity_description">
  <hr>
  <h4>Description:</h4>
  <p><%= @commodity.description %></p>
</div>
<% end %>