<div id = "admin_links">
  <span>Admin Tasks:</span>
  <ul>
    <li>
      <%= link_to 'Commodities', commodities_url %>
    </li>
    <li>
      <%= link_to 'Add a Commodity', new_commodity_url %>
    </li>
    <li>
      <%= link_to 'Add Category', new_category_url %>
    </li>
    <li>
      <%= link_to 'Edit Categories', categories_url %>
    </li>
    <li>
      <%= link_to 'Vouchers', commodities_url %>
    </li>
  </ul>
</div>