<!DOCTYPE html>
<html>

<head>

  <title>DealHound</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <div>
    <% if session[:user_id] %>
      <% @cart = find_user.cart %>
      <% if find_user && @cart %>
      <div id = "cart" class = "hide_cart">
        <div class = "inner_cart">
          <div id = "render_cart" >
            <%= render :template =>'/carts/show' %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <div class = "container-fluid remove_padding">
      <div class = "row-fluid">
        <div class = "span12 header">
          <span class ="span3">
            <h1><%= link_to 'DealHound.com', root_url %></h1>
          </span>
          <span class = "offset1 span4 margin_set">
            <%= form_tag subscription_path do %> 
            <%= email_field_tag :email,"", :placeholder => "enter your email" %>
            <%= submit_tag "Get Daily Alerts", :class => "btn" %>
            <% end %>
          </span>
          <span class = "offset1 span3 margin_set">
            <% unless session[:user_id].nil? %>
              Wallet: &#8377; <%= @user.wallet %>
              <span class="btn-group">
                <a class="btn btn-primary" href="#">
                  <i class="icon-user icon-white"></i> 
                  <%= @user.name %>
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% unless @user.admin %>
                  <li>
                    <%= link_to( orders_path(:search => @user.user_name)) do %>
                      <i class = "icon-list"></i> My Orders
                    <% end %>
                  </li>
                  <% end %>
                  <li>
                    
                    <%= link_to(edit_password_user_url(@user)) do%>
                      <i class="icon-pencil"></i> Edit Password
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(edit_user_url(@user)) do %>
                      <i class="icon-pencil"></i> Edit Profile
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to(logout_url) do %>
                      <i class="icon-off"></i> Logout
                    <% end %>
                  </li>
                </ul>
              </span>
              <% else %>
              <span class = "offset3 span9">
                <%= link_to(login_url, :class => "btn btn-warning") do %>
                  <i class="icon-share"></i> Login
                <% end %>
                <%= link_to(new_user_path, :class => "btn btn-warning") do %>
                  <i class="icon-user"></i> Register
                <% end %>
              </span>
              <% end %>
            </span>
        </div>
      </div>
      <div class = "row-fluid" id="main_row">
        <div class = "span3" id="left_col">
          <% if session[:user_id] %>
            <% @user = User.find(session[:user_id]) %> 
            <% @cart = @user.cart %>
            <% if @user && @cart %>
              <div  id = "mycart">
                <%= render '/layouts/mycart' %>
              </div>
            <% end %>
          <% end %>
          <div>
            <% if session[:admin] %>
              <%= render 'layouts/admin_layout' %>
            <% end %>
          </div>
          <div>
            <%= render 'commodities/side_bar' %>
          </div>
        </div>
        <div class="span9" id="right_col">
          <div class="flash">
          <% flash.each do |key, value| %>
            <div class ="message <%= key %> alert-<%= key %>" data-dismiss="alert" >
              <p class = "align_message"><%= value %></p>
            </div>
          <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12" id="footer">
          <p>Copyright &copy; <%= Time.zone.now.year %> DEALHOUN.com.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>