<!DOCTYPE html>
<html>

<head>

  <title>DealHound</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript", src = "/assets/jquery-1.7.2"></script>
  <!-- <script type="text/javascript" src = "/assets/commodity.js.coffee"></script> -->
  <%= csrf_meta_tags %>

</head>

<body>

<div>
  <% if session[:user_id] %>
    <% @user = User.find(session[:user_id]) %> 
    <% @cart = @user.cart %>
    <% if @user && @cart %>
    <div id = "cart" class = "hide_cart">
      <div class = "inner_cart">
        <div id = "render_cart" >
          <%= render :template =>'/carts/show' %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <div>
    <div class = "header">
      <h1>DealHound.com</h1>
      <div>
        <br>
        <% unless session[:user_id].nil? %>
          Welcome&nbsp;
          <%= User.find_by_id(session[:user_id]).name %>&nbsp;&nbsp;&nbsp;
          <%= link_to 'Logout', logout_url %>
        <% else %>
          <%= link_to 'Login', login_url %>
        <% end %>
      </div>    
    </div>
    <div>
    <table id = "main_table">
      <tr id = "main_row">
        <td id = "left_col">
          <% if session[:user_id] %>
            <% @user = User.find(session[:user_id]) %> 
            <% @cart = @user.cart %>
            <% if @user && @cart %>
              <div id = "mycart">
                <%= render '/layouts/mycart' %>
              </div>
            <% end %>
          <% end %>
          <div>
            <% if session[:admin] == 1 %>
              <%= render 'layouts/admin_layout' %>
            <% end %>
          </div>
          <div>
            <%= render 'commodities/side_bar' %>
          </div>
        </td>
        <td id = "right_col">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, :id => key %>
          <% end %> 
          <%= yield %>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>

</body>

</html>
